.table td, .table th {
  padding: .5rem;
  vertical-align: middle;
}

table td .alert {
  padding: 8px;  
}

table td.no-wrap {
  white-space: nowrap;
}

table td img {
  display: block;
  margin: 0 auto;
}

table td span.task-day-count {
  width: 22px;
  display: block;
  margin: 0 auto;
}

table td.is-weekend {
  background-color: rgba(212, 212, 212, 0.26);
}

table tbody tr td {
  text-align: center;
}

table tbody tr td:first-child {
  text-align: left;
}

.tag-toggle {
  margin-bottom: 1.5em;
}

[hidden], template {
  display: none!important;
}